/* ----- Background ----- */
body {
	max-width: 800px;
	background-attachment: fixed;
	background-color: black;
	background-image: none;
	background-position: center center;
	background-repeat: no-repeat;
	font: 100%/1.5 "Trebuchet MS", Arial, Helvetica;
	margin: 0 auto;
}

/* -------- Wrapper --------- */
#wrapper {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: black;
}
/* -------- Headings -------- */
h1 {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px white;
	font-weight: normal;
	font-size: 2em;
}
h2 {
	text-align: center;
	color: gray;
	text-shadow: 5px 5px 5px gray;
	font-weight: normal;
	font-size: 1.5em;
}
h3 {
	text-align: center;
	color: white;
	text-shadow: 5px 5px 5px white;
	font-weight: normal;
	font-size: 1.5em;
}
h4 {
	text-align: center;
	color: gray;
	text-shadow: 5px 5px 5px gray;
	font-weight: normal;
	font-size: 1em;
}

/* ------- Navigation ------- */
#nav  ul{
	/*list-style-type: none;*/
	width: 300px;
	margin: 0 auto;
	background: black;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
}
#nav  li {
	
	width: 100px;
	background: white;
	float: left;
}
#nav a {
	color: black;
	text-decoration: none;
	background: white;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;	
}

#nav a:hover {
	color: white;
	background: black;
}
#paralink {
	color: gray;
}
#paralink:hover {
	color: white;
}
#totop1 a {
	display: block;
	margin: 25px auto;
	text-align: center;
	color: gray;
}
#totop2 a {
	display: block;
	margin: 25px auto;
	text-align: center;
	color: gray;
}

/* ------- Image ------ */
#main-image {
	border: 5px solid white;
	width: 80%;
	/*height: 480px;*/
	display: block;
	margin: 0 auto;
	overflow: hidden;
	-moz-box-shadow: 5px 5px 5px gray;
	-webkit-box-shadow: 5px 5px 5px gray;
	box-shadow: 5px 5px 5px gray;
}
#main-image img {
	max-width: 100%;
}

/* ------ Gallery ----- */
#gallery-pix ul {
	border: 1px solid white;
	list-style-type: none;
	width: 62.5%;
	margin: 25px auto;
	overflow: hidden;
	padding: 5px;
}
#gallery-pix  li {
	float: left;
	margin: 20px;
}
#gallery-pix a {
	border: 5px solid white;
	display: block;
	width: 90%;
	outline: 0;
	-moz-box-shadow: 5px 5px 5px gray;
	-webkit-box-shadow: 5px 5px 5px gray;
	box-shadow: 5px 5px 5px gray;
	overflow: hidden;
}
#gallery-pix ul li a:visited {
	border-color: white;
	}
#gallery-pix ul li a:hover {
	border-color: grey;
}
#gallery-pix ul li a:active {
	border-color: blue;
}
	
/* ---- Paragraphs ---- */
div p {
	text-align: left;
	width: 70%;
	margin: 25px auto;
	color: gray;
	font-weight: normal;
	font-size: 1em;
}

/* --- Ordered List --- */
div ol {
	display: block;
	width: 120px;
	margin: 0 auto;
}
ol li {
	font size: .8em;
	color: gray;
}

/* ---- Contact-Div ---- */
#contact-div {
	font size: .8em;
	text-align: center;
	color: black;
	border: 5px solid white;
	display: block;
	width: 50%;
	height: 400px;
	background-color: gray;
	margin: 0 auto;
}

/* ----- Footer -----*/
#footer p {
	text-align: center;
	margin: 0 auto;
	color: gray;
	font-weight: normal;
	font-size: 1em;
}